.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: 100vh;
    margin-bottom: 30px;

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 40px;

        .games_list {
            // display: flex;
            // flex-wrap: wrap;
            // overflow: hidden;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 30px;

            @media (max-width: 1400px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(6, 1fr);
            }

            @media (max-width: 620px) {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(12, 1fr);
            }
        }
    }
}
