@mixin text($w, $s, $l, $c) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: $w;
    font-size: $s;
    line-height: $l;
    color: $c;
}

.game-block {
    margin-left: 30px;
    margin-bottom: 30px;
    width: 255px;
    min-width: 255px;

    background-color: rgba(197, 224, 128, 0.4);
    border-radius: 16px;
    padding: 10px;

    .game-block-img {
        width: 100%;
        height: auto;
    }

    .game-block-title {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        text-align: center;
        justify-content: center;
        @include text(200, 18px, 16px, #316650);

        border-radius: 12px;
        background-color: #c5e080;
        height: auto;
        padding: 10px;
    }

    .game-block-price {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        text-align: center;
        justify-content: center;
        @include text(200, 18px, 16px, #c5e080);

        border-radius: 12px;
        background-color: #316650;
        height: auto;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: 50%;

        .game-block-add-cart {
            margin-left: 0;
            margin-right: auto;
        }
    }

    .game-block-price:hover {
        @include text(200, 18px, 16px, #316650);
        background-color: #c5e080;
    }
}
