@mixin text($w, $s, $l, $c) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: $w;
    font-size: $s;
    line-height: $l;
    color: $c;
}

.game_block {
    width: 255px;
    min-width: 255px;
    height: 390px;

    background-color: #fffff0;
    border-radius: 18px;
    border: solid 2px rgba(49, 102, 80, 0.3);

    padding: 10px;
    position: relative;

    &__link {
        text-decoration: none;
        cursor: pointer;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__title {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        text-align: center;
        justify-content: center;
        @include text(400, 18px, 16px, #316650);

        border-radius: 18px;
        background-color: #c5e080;
        height: auto;
        padding: 10px;
    }

    &__price {
        display: flex;
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-align: center;
        justify-content: center;
        @include text(600, 18px, 16px, #fffff0);

        border-radius: 18px;
        background-color: #ff6e4a;
        height: 18px;
        width: 90px;
        padding: 10px;
        cursor: pointer;

        &__add_cart {
            cursor: pointer;
            margin-right: 10px;
        }
    }

    &__price:hover {
        background-color: #316650;
    }
}
