$header-height: 80px;

.header {
    height: $header-height;
    background-color: #316650;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 110px;

    .logo {
        height: $header-height;
        cursor: pointer;
    }
}
