@mixin text($w, $s, $l, $c) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: $w;
    font-size: $s;
    line-height: $l;
    color: $c;
}

$footer-height: 80px;

.footer {
    height: $footer-height;
    background-color: rgba(49, 102, 80, 0.3);
    box-shadow: 0 0 5px 2px #316650;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

    &__info {
        display: flex;
        align-items: center;
        margin-right: 0;
        margin-left: auto;
    }

    &__personal-info {
        display: flex;
        flex-direction: column;

        &__fio {
            @include text(500, 18px, 16px, #316650);
            margin-bottom: 5px;
        }

        &__phone {
            @include text(600, 18px, 16px, #316650);
        }
    }

    &__background-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;

        height: 50px;
        width: 50px;
        border-radius: 12px;

        &__icon {
            height: 35px;
            width: 35px;
            color: #316650;
            cursor: pointer;
        }
    }

    &__background-icon:hover {
        background-color: #fffff0;

        &__icon {
            color: #316650;
        }
    }
}
