@mixin text($w, $s, $l, $c) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: $w;
    font-size: $s;
    line-height: $l;
    color: $c;
}

@mixin sidebar-block($text-color) {
    display: flex;
    align-items: center;
    border-radius: 18px;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    @include text(500, 18px, 16px, $text-color);
}

.select-game-type {
    @include sidebar-block(#c5e080);
    background-color: #316650;
}

.select-game-type:hover {
    color: #316650;
    background-color: rgba(49, 102, 80, 0.3);
}

.game-type {
    @include sidebar-block(#316650);
}

.game-type:hover {
    background-color: rgba(49, 102, 80, 0.3);
}
