.background_logo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 50px;
    border-radius: 12px;

    .logo {
        height: 35px;
        width: 35px;
        color: #fffff0;
        cursor: pointer;
    }
}

.background_logo:hover {
    background-color: #fffff0;

    .logo {
        color: #316650;
    }
}
